{% extends 'dashboard_layout.html' %}
{% block content %}
{% load static %}
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  
	 <div  class="loader">
		<img src="{% static 'loaders/ajax-loader.gif'  %}" />
	</div>
	<div style="display:none"  class="content settings_content" >
	  <div class="content">
		<div class="container-fluid">
		  <div class="row">
			<div class="col-lg-3">
			  <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
				<i class="fa fa-calendar"></i>&nbsp;
				<span></span> <i class="fa fa-caret-down"></i>
			  </div>
		  </div>
		  </div>
		  <div class="row">
		   <div class="col-lg-3 col-md-6 col-sm-6">
			  <div class="card card-stats">
				<div class="card-header card-header-warning card-header-icon">
				  <div class="card-icon">
					<i class="fas fa-dollar-sign"></i>
				  </div>
				  <p class="card-category first">Total Revenue</p>
				  <h3 class="card-title first">${{context.total_revenue}}</h3>
				</div>
				<div class="card-footer">
				  <div class="stats">
					<!-- <i class="material-icons">date_range</i> Last 24 Hours -->
				  </div>
				</div>
			  </div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
			  <div class="card card-stats">
				<div class="card-header card-header-success card-header-icon">
				  <div class="card-icon">
					 <i class="fas fa-laptop-code"></i>
				  </div>                  
					<p class="card-category second">Total Jobs</p>
				  <h3 class="card-title second">{{context.service_count}}</h3>
				</div>
				<div class="card-footer">
				  <div class="stats">
					<!-- <i class="material-icons">local_offer</i> Tracked from Github -->
				  </div>
				</div>
			  </div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
			  <div class="card card-stats">
				<div class="card-header card-header-danger card-header-icon">
				  <div class="card-icon">
					<i class="fas fa-user-tie"></i>
				  </div>
				  <p class="card-category third">Total Customers</p>
				  <h3 class="card-title third">{{context.customer_count}}</h3>
				</div>
				<div class="card-footer">
				  <div class="stats">
					<!-- <i class="material-icons">date_range</i> Last 24 Hours -->
				  </div>
				</div>
			  </div>
			</div>
			
			<div class="col-lg-3 col-md-6 col-sm-6">
			  <div class="card card-stats">
				<div class="card-header card-header-info card-header-icon">
				  <div class="card-icon">
					<i class="fas fa-tools"></i>
				  </div>
				  <p class="card-category fourth">Total Technicians</p>
				  <h3 class="card-title fourth">{{context.technician_count}}</h3>
				</div>
				<div class="card-footer">
				  <div class="stats">
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="row">
			<div class="col-md-6">
			  <div class="card card-chart">
				<div class="card-header card-header-success">
				  <div id="services" style="background-color: white; padding-top: 15px; padding-bottom: 15px;">
					<!-- <image id="services-loader" style="margin: 0 45%;" src="{% static 'loaders/ajax-loader.gif'  %}"></image> -->
				  </div>
				</div>
				<div class="card-body">
				  <h4 class="card-title">Total Jobs - {{context.service_count}}</h4>
				  <p class="card-category">
					<span class="card-title"> Total Jobs Completed - </span><span class="text-success" id="perc_solved"></span> </p>
				</div>
			  </div>
			</div>

			<div class="col-md-6">
				<div class="card card-chart">
				  <div class="card-header card-header-danger">
					<div class="ct-chart" id="completedTasksChart" style="background-color: white; padding-top: 15px; padding-bottom: 15px;">
						<!-- <image id="completed-tasks-loader" style="margin: 0 45%;" src="{% static 'loaders/ajax-loader.gif'  %}"></image> -->
					</div>
				  </div>
				  <div class="card-body">
				  <h4 class="card-title">Total Jobs : {{context.service_count}} </h4>
				  <p class="card-category" id="total_softwares"></p>
				</div>
				</div>
			  </div>

			<div class="col-md-12">
			  <div class="card card-chart">
				<div class="card-header card-header-warning">
				  <div class="ct-chart" id="users_by_date" style="background-color: white; padding-top: 15px; padding-bottom: 15px;">
					<!-- <image id="users-by-date-loader" style="margin: 0 45%;" src="{% static 'loaders/ajax-loader.gif'  %}"></image> -->
				  </div>
				</div>
				<div class="card-body"></div>            
			  </div>
			</div>
		  </div>
		  </div>
		</div>
	  </div> 
	</div>
  <script src="{% static 'js/highcharts.js' %}"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script type="text/javascript">
	$(".loader").hide()
	$(".settings_content").show()
	
</script>
{% endblock %}